<div class="uploadcare--panel__header">
	<div class="uploadcare--text uploadcare--text_large uploadcare--panel__title uploadcare--preview__title">
		<%- locale.t('dialog.tabs.effects.captions.cropAndRotate') %>
	</div>
</div>

<div class="uploadcare--panel__content">
	<div class="uploadcare--preview__image-container">
		<img src="<%= previewUrl %>" alt="" class="uploadcare--preview__image"/>
	</div>
</div>

<div class="uploadcare--footer uploadcare--panel__footer uploadcare--panel__footer_inverted">
	<div class="uploadcare--button uploadcare--button_outline-secondary uploadcare--preview__back <%= carCancelBtn %>"
			 tabindex="0" role="button"><%- locale.t('dialog.tabs.effects.buttons.cancel') %></div>

	<div class="uploadcare--footer__additions">
		<div role="button" class="uploadcare-tab-effects--rotate-button <%= carRotateLeftBtn %> <% if(rotateDirection == -1) {%> uploadcare-tab-effects--rotate-button_current <%}%>">
			<svg width="29" height="25" viewBox="0 0 29 25" xmlns="http://www.w3.org/2000/svg"><g stroke="#000" fill="none" fill-rule="evenodd"><path d="M5 12.5C5 6.149 10.149 1 16.5 1S28 6.149 28 12.5 22.851 24 16.5 24"/><path d="M9 9l-4 4-4-4"/></g></svg>
		</div>

		<div class="uploadcare--crop-sizes"></div>

		<div role="button" class="uploadcare-tab-effects--rotate-button <%= carRotateRightBtn %> <% if(rotateDirection == 1) {%> uploadcare-tab-effects--rotate-button_current <%}%>">
			<svg width="29" height="25" viewBox="0 0 29 25" xmlns="http://www.w3.org/2000/svg"><g stroke="#000" fill="none" fill-rule="evenodd"><path d="M24 12.5C24 6.149 18.851 1 12.5 1S1 6.149 1 12.5 6.149 24 12.5 24"/><path d="M20 9l4 4 4-4"/></g></svg>
		</div>
	</div>

	<div class="uploadcare--button uploadcare--button_primary uploadcare--preview__done <%= carApplyBtn %>"
			 tabindex="0" role="button"><%- locale.t('dialog.tabs.effects.buttons.done') %></div>
</div>
