<div class="uploadcare--panel__header">
	<div class="uploadcare--panel__title uploadcare--preview__title">
		Crop & Rotate<!-- TODO Take word from locale -->
	</div>
</div>

<div class="uploadcare--panel__content">
	<div class="uploadcare--preview__image-container">
		<button class="<%= buttonStyles.ucIconBtn %>
                  <%= buttonStyles.white %>
                  <%= carRotateLeftBtn %>">
			<div class="<%= imageStyles.rotateLeftImg %>"></div>
		</button>
		<img src="<%= previewUrl %>" alt="" class="uploadcare--preview__image"/>
		<button class="<%= buttonStyles.ucIconBtn %>
                  <%= buttonStyles.white %>
                  <%= carRotateRightBtn %>">
			<div class="<%= imageStyles.rotateRightImg %>"></div>
		</button>
	</div>
</div>

<div class="uploadcare--panel__footer uploadcare--panel__footer_inverted">
	<div class="uploadcare--button uploadcare--button_outline-secondary uploadcare--preview__back <%= carCancelBtn %>"
			 tabindex="0" role="button"
	>Cancel<!-- TODO Take word from locale --></div>

	<div class="uploadcare--panel__footer-additions">
		<div class="uploadcare--crop-sizes">
			<div class="uploadcare--crop-sizes__item uploadcare--crop-sizes__item_current" data-caption="free">
				<div class="uploadcare--crop-sizes__icon uploadcare--crop-sizes__icon_free"></div>
			</div>

			<div class="uploadcare--crop-sizes__item <%= carOrigRatioBtn %>" data-caption="Orig">
				<div class="uploadcare--crop-sizes__icon"></div>
			</div>

			<div class="uploadcare--crop-sizes__item <%= carOneToOneRatioBtn %>" data-caption="1:1">
				<div class="uploadcare--crop-sizes__icon" style="width: 30px; height: 30px;"></div>
			</div>

			<div class="uploadcare--crop-sizes__item <%= carThreeToFourRatioBtn %>" data-caption="3:4">
				<div class="uploadcare--crop-sizes__icon" style="width: 23px; height: 30px;"></div>
			</div>

			<div class="uploadcare--crop-sizes__item <%= carFourToThreeRatioBtn %>" data-caption="4:3">
				<div class="uploadcare--crop-sizes__icon" style="width: 30px; height: 23px;"></div>
			</div>

			<div class="uploadcare--crop-sizes__item <%= carSixteenToNineRatioBtn %>" data-caption="16:9">
				<div class="uploadcare--crop-sizes__icon" style="width: 30px; height: 17px;"></div>
			</div>

			<div class="uploadcare--crop-sizes__item <%= carNineToSixteenRatioBtn %>" data-caption="9:16">
				<div class="uploadcare--crop-sizes__icon" style="width: 20px; height: 30px;"></div>
			</div>
		</div>
	</div>

	<div class="uploadcare--button uploadcare--button_outline-primary uploadcare--preview__done <%= carApplyBtn %>"
			 tabindex="0" role="button"
	>Done<!-- TODO Take word from locale --></div>
</div>
