<div class="uploadcare--panel__header">
	<div class="uploadcare--panel__title uploadcare--preview__title">
		Enhance<!-- TODO Take word from locale -->
	</div>
</div>

<div class="uploadcare--panel__content">
	<div class="uploadcare--preview__image-container">
		<img src="<%= previewUrl %>" alt="" id="<%= previewImageId%>" class="uploadcare--preview__image"/>
	</div>
</div>

<div class="uploadcare--panel__footer uploadcare--panel__footer_inverted">
	<div class="uploadcare--button uploadcare--button_outline-secondary uploadcare--preview__back"
			 tabindex="0" role="button" id="<%= enhanceCancelBtn %>"
	>Cancel<!-- TODO Take word from locale --></div>

	<div class="uploadcare--panel__footer-additions">
		<div class="<%= sliderStyles.slider %>" id="<%= sliderId %>"></div>
	</div>

	<div class="uploadcare--button uploadcare--button_outline-primary uploadcare--preview__done"
			 tabindex="0" role="button" id="<%= enhanceApplyBtn %>"
	>Done<!-- TODO Take word from locale --></div>
</div>
