<div class="viewContainer">
  <div class="headerBlock">
    <button class="ucButton ucButtonGrey hideScreen" id="<%= enhanceCancelMobBtn %>">Cancel</button>
    <h1>Enhance</h1>
    <button class="ucButton ucButtonWhite hideScreen" id="<%= enhanceApplyMobBtn %>">Apply</button>
  </div>
  <div class="imageBlock">
    <img src="<%= previewUrl %>" alt="" id="<%= previewImageId%>"/>
  </div>
  <div class="toolBoxContainer blue">
    <button class="ucButton ucButtonGrey hideMobile" id="<%= enhanceCancelBtn %>">Cancel</button>
    <div class="slider" id="<%= sliderId%>"></div>
    <button class="ucButton ucButtonWhite hideMobile" id="<%= enhanceApplyBtn %>">Apply</button>
  </div>
</div>
