<div class="<%= layoutStyles.viewContainer %>">
  <div class="<%= layoutStyles.headerBlock %>">
    <button class="<%= buttonStyles.ucButton %>
                   <%= buttonStyles.ucButtonPrimary %> 
                   <%= buttonStyles.hideScreen %>" id="<%= enhanceCancelMobBtn %>">Cancel</button>
    <h1>Enhance</h1>
    <button class="<%=buttonStyles.ucButton %>
                   <%=buttonStyles.ucButtonPrimary %> 
                   <%=buttonStyles.hideScreen %>" id="<%= enhanceApplyMobBtn %>">Apply</button>
  </div>
  <div class="<%= layoutStyles.imageBlock %>">
    <img src="<%= previewUrl %>" alt="" id="<%= previewImageId%>"/>
  </div>
  <div class="<%= layoutStyles.toolBoxContainer %>
              <%= layoutStyles.blue %>">
    <button class="<%= buttonStyles.ucButton %>
       <%= buttonStyles.ucButtonGrey %>
       <%= buttonStyles.hideMobile %>" id="<%= enhanceCancelBtn %>">Cancel</button>
    <div class="<%= sliderStyles.slider %>" id="<%= sliderId%>"></div>
    <button class="<%= buttonStyles.ucButton %>
       <%= buttonStyles.ucButtonWhite %>
       <%= buttonStyles.hideMobile %>" id="<%= enhanceApplyBtn %>">Apply</button>
  </div>
</div>
