<div class="viewContainer">
  <div class="headerBlock">
    <h1>Preview</h1>
  </div>
  <div class="imageBlock">
    <img src="<%= previewUrl %>" alt="">
  </div>
  <div class="toolBoxContainer align-top">
    <button class="ucButton ucButtonGrey" id="removeBtn">Remove</button>
    <div class="ucIconBtn" id="<%= cropAndRotateBtnId %>">
      <div class="cropAndRotateImg"></div>
      <span>CROP &amp; ROTATE</span>
    </div>
    <div class="ucIconBtn" id="<%= enhanceBtnId %>">
      <div class="enhanceImg"></div>
      <span>ENHANCE</span>
    </div>
    <div class="ucIconBtn" id="<%= sharpenBtnId %>">
      <div class="sharpenImg"></div>
      <span>SHARPEN</span>
    </div>
    <div class="ucIconBtn" id="<%= grayscaleBtnId %>">
      <div class="grayScaleImg"></div>
      <span>GRAYSCALE</span>
      <% if(appliedGrayscale) { %>
        <div class="applied"></div>
      <% } %>
    </div>
    <button class="ucButton ucButtonPrimary" id="doneBtn">Done</button>
  </div>
</div>
