<div class="uploadcare--panel__header">
	<div class="uploadcare--panel__title uploadcare--preview__title">
		<%- locale.t('dialog.tabs.effects.captions.sharpen') %>
	</div>
</div>

<div class="uploadcare--panel__content">
	<div class="uploadcare--preview__image-container">
		<img src="<%= previewUrl %>" alt="" class="uploadcare--preview__image <%= previewImageId%>"/>
	</div>
</div>

<div class="uploadcare--panel__footer uploadcare--panel__footer_inverted">
	<div class="uploadcare--button uploadcare--button_outline-secondary uploadcare--preview__back <%= sharpenCancelBtn %>"
			 tabindex="0" role="button"><%- locale.t('dialog.tabs.effects.buttons.cancel') %></div>

	<div class="uploadcare--panel__footer-additions">
		<div class="uploadcare-tab-effects--slider <%= sliderId %>"></div>
	</div>

	<div class="uploadcare--button uploadcare--button_primary uploadcare--preview__done <%= sharpenApplyBtn %>"
			 tabindex="0" role="button"><%- locale.t('dialog.tabs.effects.buttons.done') %></div>
</div>
