@import 'constants';

.ucButton {
  border-radius: 24px;
  height: 48px;
  font-size: 17px;
  letter-spacing: 0.3px;
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 0px;
  margin-left: 20px;
  margin-right: 20px;

  @media screen and (max-width: 759px) {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0px;
    padding-right: 0px;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
  
  &.ucButtonGrey {

    @media screen and (max-width: 759px) {
      font-family: SFUIText-Regular;
      font-size: 16px;
      letter-spacing: 0.3px;
      line-height: 18px;
      color: $blueColor;
      background: none;  
    }

    @media screen and (min-width: 760px) {
      color: $whiteColor;
      background: $grayColor;
    }
  }
  
  &.ucButtonPrimary {

    @media screen and (max-width: 759px) {
      font-family: SFUIText-Regular;
      font-size: 16px;
      letter-spacing: 0.3px;
      line-height: 18px;
      color: $blueColor;
      background: none;  
    }

    @media screen and (min-width: 760px) {
      color: $whiteColor;
      background: $blueColor;
    }
  }

  &.ucButtonWhite {
    color: $blueColor;
    background: $whiteColor;
  }
}

.ucIconBtn {
  border: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $darkGrayColor;
  background: none;
  align-items: center;
  position: relative;

  @media screen and (max-width: 760px) {
    font-family: SFUIText-Regular;
    font-size: 10px;
    letter-spacing: 0.41px;
  }

  &.white {
    color: $whiteColor;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  .applied {
    margin-top: 10px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: $blueColor;
    position: absolute;
    bottom: -15px;
    left: calc(50% - 4px);
  }
}

.hideMobile {
  @media screen and (max-width: 760px) {
    display: none;
  }
}

.hideScreen {
  @media screen and (min-width: 760px) {
    display: none;
  }
}
