$containerBackground: #ffffff;
$textColor: #454545;

$cropAndRotateImgUrl: '../img/cropAndRotate.svg';
$enhanceImgUrl: '../img/enhance.svg';
$sharpenImgUrl: '../img/sharpen.svg';
$grayScaleImgUrl: '../img/grayscale.svg';
